@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,600,900);
@import url(https://fonts.googleapis.com/css?family=Bonbon);

html, body, div, header, nav, ul, li, section, img, h1, h2, p {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: raleway, sans-serif;
  font-weight: 300;
}

/**********************************************
NAVIGATION and NAVIGATION LINKS
***********************************************/
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: #FFE800;
  font-variant:small-caps;
  position: fixed;
  width: 100%;
  z-index: 1;
}

ul {
  list-style: none;
}

ul#brand-and-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #F1DB00;
}

ul#brand-and-icon li:first-child {
  margin-right: auto;
  cursor: pointer;
}

ul#brand-and-icon li:last-child {
  cursor: pointer;
}

ul#brand-and-icon img {
  width: 1.8rem;
  margin: .2rem;
}

ul#nav-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

ul#nav-links li:first-child {
  /*background-color:#FFF31B;*/
}

ul#nav-links li {
  padding: 5px;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  border-bottom: 1px solid #F1DB00;
  /*border-top: 1px solid white;*/
  /*box-shadow: 1px 0px 1px black;*/
}

ul#nav-links li:hover {
  background-color: #F2DD00;
  cursor: pointer;
  font-weight: 600;
}

ul#nav-links li:active {
  /*background-color: #FFEF4F;*/
  /*background-color: #FFF13D;*/
  background-color: #FBF366;
  font-weight: 600;
  border: none;
}

nav a, a:hover {
  text-decoration: none;
  color: black;
}

/**********************************************
IMAGES
***********************************************/
div.image {
  width: 100%;
  text-align: center;
}

img#me {
  max-width: 30%;
  border-radius: 100%;
  margin-bottom: 15px;
  border: 2px solid black;
}

img#heart {
  width: 15px;
}

img#resume {
  max-width: 33%;
}

/**********************************************
HEADINGS
***********************************************/

/* Used for brand logo */
h1 {
  font-family: Bonbon, cursive;
  font-size: 1.5rem;
  margin: .5rem;
  font-weight: 500;
  letter-spacing: .2rem;
}

h1:hover {
  font-weight: 700;
  cursor: pointer;
}

/* Used for nav links */
h2 {
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: raleway, sans-serif;
  font-weight: 400;
}

/* Used for blurb */
h3 {
  font-size: 1rem;
  letter-spacing: 1px;
  max-width: 60%;
  margin: 0 auto;
  padding-bottom: 1rem;
  font-weight: 500;
}

/* Used for brand statement, which is hidden in mobile */
h4 {
  display: none;
}

/* Used for subtitles */
h5 {
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: .2rem;
  text-align: center;
  color: #00BD9D;
}

section#projects h5 {
  color: #FA8C3A;
}

section#resume h5 {
  color: #2E79B9;
}

/**********************************************
LINKS
***********************************************/
a.section-link {
  font-weight: 600;
}

a.section-link:hover {
  color: #00BE9D;
}

/**********************************************
SECTIONS AND PARAGRAPHS
***********************************************/
section {
  text-align: center;
}

section.image {
  max-width: 100%;
  padding-top: 70px;
  background-color: #FFF13D;
}

section.moved {
  padding-top: 170px;
}

section.section-info {
  margin: 1rem;
}

section#about-me,
section#projects {
  padding-bottom: 1rem;
  border-bottom: 2px solid #F4F4F4;
}

p {
  margin-bottom: 1rem;
  font-size: .8rem;
}

footer {
  max-width: 100%;
  height: 50px;
  background-color: #FFE800;
  display: flex;
  align-items: flex-end;
}

footer p {
  font-size: .7rem;
  margin: .8rem;
}
/**********************************************
CONTAINERS
***********************************************/
div.row {
  text-align: center;
}

/**********************************************
LISTS
***********************************************/

ul#technologies {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

ul#technologies li {
  font-weight: 200;
  color: white;
}

/**********************************************
FONT SIZES
***********************************************/

ul#technologies li {
  font-size: .8rem;
  list-style-type: square;
  list-style-position: inside;
  text-align: center;
}

/**********************************************
COLOR SCHEME
***********************************************/
div.box:nth-child(1) {
  width: 50px;
  height: 50px;
  background-color: HSL(24, 92%, 62%);
  margin: 10px;
}

div.box:nth-child(2) {
  width: 50px;
  height: 50px;
  background-color: HSL(53, 100%, 50%);
  margin: 10px;
}

div.box:nth-child(3) {
  width: 50px;
  height: 50px;
  background-color: turquoise;
  margin: 10px;
}
