@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,600,900);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Bonbon);

html, body, div, header, nav, ul, li, section, img, h1, h2, p {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  letter-spacing: 1px;
  /*padding: 10px;*/
  font-family: raleway, sans-serif;
  font-weight: 400;
}

/**********************************************
NAVIGATION
***********************************************/

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: #FFE800;
  color: black;
  font-variant:small-caps;
  position: fixed;
  width: 100%;
}

ul {
  list-style: none;
}

ul#brand-and-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #F1DB00;
}

ul#brand-and-icon li:first-child {
  margin-right: auto;
  font-family: Bonbon, cursive;
}

ul#brand-and-icon li:last-child {
  cursor: pointer;
}


ul#brand-and-icon img {
  width: 1.8rem;
  margin: .2rem;
}

ul#nav-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

ul#nav-links li:first-child {
  /*background-color:#FFF31B;*/
}

ul#nav-links li {
  padding: 5px;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  border-bottom: 1px solid #F1DB00;
  /*border-top: 1px solid white;*/
  /*box-shadow: 1px 0px 1px black;*/
}

ul#nav-links li:hover {
  background-color: #F2DD00;
  font-weight: 600;
  cursor: pointer;
}

ul#nav-links li:active {
  /*background-color: #FFEF4F;*/
  /*background-color: #FFF13D;*/
  background-color: #FBF366;
  font-weight: 600;
  border: none;
}

/**********************************************
IMAGES
***********************************************/
div.image {
  width: 100%;
  text-align: center;
}

img#me {
  width: 30%;
  border-radius: 100%;
  margin-bottom: 15px;
  border: 2px solid black;
}

/**********************************************
HEADINGS
***********************************************/
h1 {
  font-size: 1.5rem;
  margin: .5rem;
  font-weight: 600;
  letter-spacing: 2px;
}

h1:hover {
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

h2 {
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: .2rem;
  color: #FA8C3A;
}

/**********************************************
LINKS
***********************************************/
nav a {
  text-decoration: none;
  color: black;
}

/**********************************************
SECTIONS
***********************************************/
section.image {
  width: 100%;
  padding-top: 70px;
  background-color: #FFF13D;
}

section.moved {
  padding-top: 170px;
}

section.about-me {
  margin: 1rem;
}

/**********************************************
COLOR SCHEME
***********************************************/
div.box:nth-child(1) {
  width: 50px;
  height: 50px;
  background-color: HSL(24, 92%, 62%);
  margin: 10px;
}

div.box:nth-child(2) {
  width: 50px;
  height: 50px;
  background-color: HSL(53, 100%, 50%);
  margin: 10px;
}

div.box:nth-child(3) {
  width: 50px;
  height: 50px;
  background-color: turquoise;
  margin: 10px;
}
