@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700|Chewy|);
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  #{$property}: $value;
}
html,
body,
div,
header,
footer,
nav,
ul,
li,
section,
img,
h1,
h2,
h3,
h4,
h5,
p,
a,
input {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  @include prefix(box-sizing, border-box, webkit moz);
}
/**********************************************
MAIN STYLES - MOBILE
***********************************************/
$mainGoldColor: #FFE800;
$navBorderColor: darken($mainGoldColor, 3%);
$navBarHeight: 2em;
$navBGColorHover: $navBorderColor;
$navBGColorActive: lighten($mainGoldColor, 20%);
$blurbBGcolor: lighten($mainGoldColor, 15%);
$grayBorderColor: #F4F4F4;

html {
  font-size: 20px;
}
body {
  font: {
    size: 100%;
    family: "Raleway", sans-serif;
    weight: 300;
  }
  letter-spacing: .1em;
}
blockquote {
  border-left: 1em solid #FFEA00;
  border-right: 1em solid #FFEA00;
  margin: 0 2em;
  line-height: 1.5em;
  @include prefix(transition, 1s ease, webkit moz o);
  &:hover {
    @include prefix(transform, scale(1.2), webkit ms)
  }
  &:before,
  &:after {
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  &:before {
    content: open-quote;
  }
  &:after {
    content: close-quote;
  }
}
/**********************************************
NAVIGATION and NAVIGATION LINKS
***********************************************/
input[type=checkbox] {
  display: none;
}
nav {
  display: block;
  width: 100%;
  background-color: $mainGoldColor;
  font-variant: small-caps;
  position: fixed;
  a,
  a:hover,
  a:active,
  a:focus {
    text-decoration: none;
    color: black;
  }
  ul#brand-and-icon {
    list-style: none;
    @include prefix(display, flex, webkit ms);
    @include prefix(display, flexbox, ms);
    @include prefix(display, box, webkit);
    @include prefix(flex-direction, row, webkit);
    @include prefix(align-items, center, webkit);
    border-bottom: 0.05em solid $navBorderColor;
    height: $navBarHeight;
    img#menu-icon {
      width: 1.8em;
    }
  }
}
/*******************************************
STOPPED HERE WITH CONVERSION
********************************************/
div#nav-links a,
div#nav-links a:hover,
div#nav-links a:active,
div#nav-links a:focus {
  padding: 0.25em;
  width: 100%;
  height: $navBarHeight;
  font-size: 1.3em;
  border-bottom: 1px solid $navBorderColor;
  text-decoration: none;
  color: black;
}
div#nav-links a {
  &:hover {
    cursor: pointer;
    font-weight: 500;
    background-color: $navBGColorHover;
    letter-spacing: 0.2em;
  }
  &:active {
    background-color: $navBGColorActive;
    border: none;
    letter-spacing: 0;
  }
}
/**********************************************
IMAGES - NAV
***********************************************/
img#me {
  max-width: 50%;
  margin-bottom: 15px;
  border: 2px solid black;
  @include prefix(border-radius, 100%, webkit moz);
}
/**********************************************
IMAGES - BODY
***********************************************/
img {
  &#heart {
    width: 0.75em;
  }
  &#resume {
    max-width: 33%;
  }
  &.project-thumbnail {
    max-width: 100%;
    margin: 0.5em 0;
  }
  &#tech {
    width: 75%;
    max-width: 250px;
    margin: 1em;
  }
}
/**********************************************
HEADINGS + REGULAR FONT
***********************************************/
/* Used for brand logo */
h1 {
  font: {
    size: 1.8em;
    family: "Chewy", cursive;
    weight: 400;
  }
  padding: .2em;
  letter-spacing: .2em;
  &:hover {
    font-weight: bolder;
    cursor: pointer;
    letter-spacing: 0.3em;
  }
}
/* Used for short blurb under profile picture */
h2 {
  font: {
    size: 1em;
    weight: 500;
  }
  max-width: 60%;
  margin: 0 auto;
  padding-bottom: 1em;
}
/* Used for brand statement, which is hidden in mobile */
h3 {
  display: none;
}
/* Used for section subtitles */
h4 {
  font: {
    family: "Chewy", cursive;
    size: 2.5em;
    weight: 600;
  }
  margin: {
    top: .5em;
    bottom: .5em;
  }
  letter-spacing: .1em;
  text-align: center;
  max-width: 100%;
}
/* Used for regular paragraph fonts */
section p {
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 1em;
}

.small-font {
  font-size: 0.8em;
}
/**********************************************
PIC AND BLURBS
***********************************************/
div.image-blurbs-scoot {
  width: 100%;
  padding-top: 3em;
  background-color: $blurbBGcolor;
}
/**********************************************
SECTIONS AND PARAGRAPHS
***********************************************/
section {
  width: 100%;
  // border: 1px solid red;
  padding: 1em;
  text-align: center;
  border-bottom: 2px solid $grayBorderColor;
}
footer {
  width: 100%;
  background-color: #FFE800;
  font-size: 0.6rem;
  padding: 0.5rem;
}
/**********************************************
PROJECTS
***********************************************/
/* Used for project descriptions */
h5 {
  font-size: 1.2em;
}

/**********************************************
CONTAINERS AND DIVS
***********************************************/
div.row {
  text-align: center;
}
div.image-blurbs-scoot {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
div.blurb {
  max-width: 50%;
  align-self: center;
  display: none;
}
div.container-fluid {
  padding: 0;
  max-width: 1500px;
}
div.container {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}
div.all-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
div.project-image {
  text-align: center;
  width: 100%;
  height: 150px;
  overflow: hidden;
}
div.project-image img {
  height: 150px;
}
div.card-wrapper {
  max-width: 30%;
  min-width: 250px;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #CBC9C9;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
}
div.description-container {
  max-width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-contents: space-around;
  align-items: stretch;
  flex-grow: 2;
  /*margin-top: .2rem;*/
}
div.languages {
  margin-bottom: auto;
  padding-top: 0.5rem;
  margin-top: 0.8rem;
}
div.description,
div.languages {
  max-width: 100%;
  padding: 0.2rem;
}
/**********************************************
LISTS
***********************************************/

/**********************************************
COLOR SCHEME
***********************************************/
div.box:nth-child(1) {
  width: 50px;
  height: 50px;
  background-color: HSL(24, 92%, 62%);
  margin: 10px;
}
div.box:nth-child(2) {
  width: 50px;
  height: 50px;
  background-color: HSL(53, 100%, 50%);
  margin: 10px;
}
div.box:nth-child(3) {
  width: 50px;
  height: 50px;
  background-color: turquoise;
  margin: 10px;
}
/*************************************/
/* WHEN THE SCREEN IS LARGE: > 650px */
/*************************************/
@media (min-width: 651px) {
  nav {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    align-items: center;
  }
  ul#brand-and-icon,
  div#nav-links a {
    border: none;
  }
  div#nav-links a:hover {
    color: #00BE9D;
  }
  nav a {
    margin-right: 20px;
  }
  section#about-me {
    max-width: 75%;
    margin: 0 auto;
    text-align: left;
    line-height: 45px;
  }
  a.resume {
    margin-right: auto;
  }
  div.blurb,
  blockquote,
  blockquote:before {
    display: inline-block;
  }
  div.container {
    margin: 0;
  }
  h3 {
    display: inline-block;
    font-weight: 500;
  }
  label#menu-icon {
    display: none;
  }
  img#me {
    width: 150px;
  }
  h2#blurb {
    font-size: 1.5em;
  }
}
/* ends @media */
/*************************************/
/* WHEN THE SCREEN IS SMALLER < 651px */
/*************************************/
@media (max-width: 650px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
  }
  div#nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav a {
    text-align: center;
  }
  #toggle + div#nav-links {
    overflow: hidden;
    transition: max-height 0.1s;
    -webkit-transition: max-height 0.1s;
    max-height: 0;
  }
  #toggle:checked + div#nav-links {
    max-height: 200px;
  }
  .scootDown {
    margin-top: $navBarHeight * 4;
  }
  ul li.icon {
    margin-right: auto;
  }
}
