@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700|Chewy|);
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  #{$property}: $value;
}
html,
body,
div,
header,
footer,
nav,
ul,
li,
section,
img,
h1,
h2,
h3,
h4,
h5,
p,
a,
input {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  @include prefix(box-sizing, border-box, webkit moz);
}
/**********************************************
MAIN STYLES - MOBILE
***********************************************/
$mainGoldColor: #FFE800;
$navBorderColor: darken($mainGoldColor, 3%);
$navBarHeight: 2.3em;
$navBGColorHover: $navBorderColor;
$navBGColorActive: lighten($mainGoldColor, 20%);
$blurbBGcolor: lighten($mainGoldColor, 15%);
$grayBorderColor: #F4F4F4;
$linkColor: #4083BD;
$linkHoverColor: #00BE9D;
$blueColor: #00CFFF;

html {
  font-size: 20px;
}
body {
  font: {
    size: 100%;
    family: "Raleway", sans-serif;
    weight: 300;
  }
  letter-spacing: .1em;
}
ul {
  list-style-position: inside;
}
blockquote {
  // border-left: 1em solid darken($mainGoldColor, 2%);
  // border-right: 1em solid darken($mainGoldColor, 2%);
  border: 0;
  margin: 0 2em;
  line-height: 1.5em;
  @include prefix(transition, 1s ease, webkit moz o);
  &:hover {
    @include prefix(transform, scale(1.2), webkit ms)
  }
  &:before,
  &:after {
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  &:before {
    content: open-quote;
  }
  &:after {
    content: close-quote;
  }
}
/**********************************************
NAVIGATION and NAVIGATION LINKS
***********************************************/
nav {
  @include prefix(display, flex, webkit ms);
  @include prefix(display, flexbox, ms);
  @include prefix(display, box, webkit);
  @include prefix(flex-direction, column, webkit);
  @include prefix(justify-content, center, webkit);
  width: 100%;
  background-color: $mainGoldColor;
  font-variant: small-caps;
  position: fixed;
  a,
  a:hover,
  a:active,
  a:focus {
    text-decoration: none;
    color: black;
  }
  ul#brand-and-icon {
    list-style: none;
    @include prefix(display, flex, webkit ms);
    @include prefix(display, flexbox, ms);
    @include prefix(display, box, webkit);
    @include prefix(flex-direction, row, webkit);
    @include prefix(align-items, center, webkit);
    border-bottom: 0.05em solid $navBorderColor;
    height: $navBarHeight;
    img#menu-icon {
      width: 2em;
      margin-right: .5em;
    }
  }
  div#nav-links {
    @include prefix(display, flex, webkit ms);
    @include prefix(display, flexbox, ms);
    @include prefix(display, box, webkit);
    @include prefix(flex-direction, column, webkit);
    @include prefix(align-items, center, webkit);
    a,
    a:hover,
    a:active,
    a:focus {
     padding: 0.25em;
     width: 100%;
     height: $navBarHeight;
     font-size: 1.3em;
     border-bottom: .05em solid $navBorderColor;
     text-decoration: none;
     color: black;
     text-align: center;
     align-self: center;
   }
   a {
     font-weight: 500;
     &:hover {
       cursor: pointer;
       font-weight: 700;
       background-color: $navBGColorHover;
       letter-spacing: 0.2em;
     }
     &:active {
       background-color: $navBGColorActive;
       border: none;
       letter-spacing: 0;
     }
    }
  } /* Ends div nav links */
} /* Ends NAV element */
div.container.scoot {
  img#me {
    margin-top: 2em;
  }
}
/**********************************************
IMAGES - BODY
***********************************************/
img {
  &#heart {
    width: 0.75em;
  }
  &#resume {
    max-width: 33%;
  }
  &#tech {
    width: 75%;
    max-width: 250px;
    margin: 1em;
  }
}
/**********************************************
HEADINGS + REGULAR FONT
***********************************************/
/* Used for brand logo */
h1 {
  font: {
    size: 1.8em;
    family: "Chewy", cursive;
    weight: 400;
  }
  padding: .2em;
  letter-spacing: .2em;
  a,
  a:visited,
  a:focus {
    color: black;
    &:hover {
      font-weight: bolder;
      cursor: pointer;
      letter-spacing: 0.3em;
    }
  }
}
/* Used for short blurb under profile picture */
h2 {
  font: {
    size: 1em;
    weight: 500;
  }
  max-width: 60%;
  margin: 0 auto;
  padding-bottom: 1em;
}
/* Used for brand statement, which is hidden in mobile */
h3 {
  display: none;
}
/* Used for section subtitles */
h4 {
  font: {
    family: "Chewy", cursive;
    size: 2.5em;
    weight: 600;
  }
  margin: {
    top: .5em;
    bottom: .5em;
  }
  letter-spacing: .1em;
  text-align: center;
  max-width: 100%;
}
/* Used for regular paragraph fonts */
section p {
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 1em;
}
.small-font {
  font-size: 0.8em;
}
/**********************************************
PIC AND BLURBS
***********************************************/
div.image-blurbs {
  text-align: center;
  img#me {
    max-width: 50%;
    border: .1em solid black;
    box-shadow: 1px 1px 5px gray;
    @include prefix(border-radius, 100%, webkit moz);
  }
}
div.image-blurbs-scoot {
  width: 100%;
  padding-top: 1em;
  background-color: $blurbBGcolor;
}
/**********************************************
SECTIONS AND PARAGRAPHS
***********************************************/
section {
  width: 100%;
  padding: 1em;
  text-align: center;
  border-bottom: .05em solid $grayBorderColor;
}
/**********************************************
ALL LINKS
***********************************************/
a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}
a,
a:hover,
a:visited {
  color: #4FB3C0;
}
/**********************************************
PROJECTS
***********************************************/
/* Used for project descriptions */
div.all-cards {
  @include prefix(display, flex, webkit ms);
  @include prefix(display, flexbox, ms);
  @include prefix(display, box, webkit);
  @include prefix(flex-direction, row, webkit);
  @include prefix(flex-wrap, wrap, moz webkit);
  @include prefix(justify-content, space-around, moz webkit);
}
div.card-wrapper {
  max-width: 29%;
  margin: 2em 2%;
  min-width: 250px;
  box-shadow: .1em .1em 10px gray;
  @include prefix(display, flex, webkit ms);
  @include prefix(display, flexbox, ms);
  @include prefix(display, box, webkit);
  @include prefix(flex-direction, column, webkit);
  @include prefix(justify-content, stretch, moz webkit);
  // align-items: stretch;
  // align-content: stretch;
  h5 {
    font: {
      size: 100%;
      family: "Chewy", cursive;
    }
    color: black;
    width: 100%;
    letter-spacing: .2em;
  }
  a {
    color: #A24604;
    &:hover {
      color: lighten(#A24604, 15%);
    }
  }
  div.title {
    padding: .5em;
    width: 100%;
    background-color: lighten($mainGoldColor, 2%);
  }
  span.sites {
    font-size: .7em;
  }
  div.project-image {
    text-align: center;
    width: 100%;
    height: 150px;
    overflow: hidden;
    img {
      min-height: 150px;
      width: 100%;
    }
  }
  div.description-container {
    padding: .2em;
    max-width: 100%;
    font-size: .7em;
    @include prefix(display, flex, webkit ms);
    @include prefix(display, flexbox, ms);
    @include prefix(display, box, webkit);
    @include prefix(flex-direction, column-reverse, webkit);
    @include prefix(align-content, space-around, webkit);
    @include prefix(align-items, stretch, webkit);
    flex-grow: 2;
    div.languages {
      text-align: left;
      font-size: 1em;
      margin-bottom: auto;
      padding: 1em;
      margin-top: 0.8em;
    }
    div.description {
      max-width: 100%;
      padding: 1em;
      p {
        text-align: justify;
        font-size: 1em;
      }
    }
  }
} /* Ends div card wrapper */
/**********************************************
CONTAINERS AND DIVS
***********************************************/
div.container-fluid {
  padding: 0;
  max-width: 1500px;
}
/**********************************************
SKILLS
***********************************************/
ul.skills {
  width: 100%;
  text-align: center;
   li {
    list-style: none;
    font-weight: 500;
    float: left;
    background-color: lighten($mainGoldColor, 10%);
    margin: 1%;
    border-radius: 100%;
    padding: 3%;
    box-shadow: -1px 5px 5px #CCCACA;
    @include prefix(transition, 1s ease, webkit moz o);
    &:hover {
      background-color: #00C8FF;
    }
  }
}
ul.contact {
  clear: both;
}
/**********************************************
FOOTER
***********************************************/
footer {
  width: 100%;
  background-color: #FFE800;
  font-size: 0.6em;
  padding: 0.5em;
  clear: both;
}
/*************************************
HAMBURER MENU CLICK FUNCTIONALITY
*************************************/
input[type=checkbox] {
  display: none;
}
#toggle + div#nav-links {
  overflow: hidden;
  @include prefix(transition, max-height .2s ease, webkit moz o);
  max-height: 0;
}
#toggle:checked + div#nav-links {
  max-height: $navBarHeight * 4;
}
.scootDown {
  margin-top: $navBarHeight * 4;
}
ul li.icon {
  margin-right: auto;
}
div.container {
  max-width: 100%;
  @include prefix(transition, all .2s ease, webkit moz o)
}
/*************************************/
/* WHEN THE SCREEN IS LARGE: > 650px */
/*************************************/
@media (min-width: 651px) {
  nav {
    @include prefix(display, flex, webkit ms);
    @include prefix(display, flexbox, ms);
    @include prefix(display, box, webkit);
    @include prefix(flex-direction, row, webkit);
    @include prefix(align-content, space-around, webkit);
    @include prefix(align-items, center, webkit);
    @include prefix(justify-content, flex-start, webkit moz);
    ul#brand-and-icon {
      border-bottom: none;
      text-align: center;
      width: 20%;
      margin-left: 1%;
      label#menu-icon {
        display: none;
      }
    }
    #toggle + div#nav-links {
      @include prefix(display, flex, webkit ms);
      @include prefix(display, flexbox, ms);
      @include prefix(display, box, webkit);
      @include prefix(flex-direction, row, webkit);
      height: $navBarHeight;
      width: 100%;
      overflow: visible;
      line-height: 1.5;
      a {
        border: none;
        margin: .5em 1em 0 1em;
        // background-color: #E6CB0C;
        line-height: 1;
        background-color: darken($mainGoldColor, 2%);
        border-radius: 100%;
        padding: .5em;
        height: auto;
        &:hover {
          background-color: darken($navBGColorHover, 1%);
        }
        &:active {
          background-color: $navBGColorActive;
        }
      }
    }
  } /* ends nav element */
  div.image-blurbs-scoot {
    width: 100%;
    @include prefix(display, flex, webkit ms);
    @include prefix(display, flexbox, ms);
    @include prefix(display, box, webkit);
    @include prefix(flex-direction, row, webkit);
    @include prefix(justify-content, flex-start, webkit moz);
    div.container.scoot {
      margin-top: 0;
      width: 100%;
      @include prefix(display, flex, webkit ms);
      @include prefix(display, flexbox, ms);
      @include prefix(display, box, webkit);
      @include prefix(flex-direction, column, webkit);
      @include prefix(justify-content, center, webkit moz);
      img#me {
        max-height: 220px;
        max-width: 100%;
        margin-top: 0;
      }
    }
    h2#blurb {
      display: none;
    }
    div.blurb {
      max-width: 75%;
      margin-right: 5%;
      margin-top: 1%;
      h3.blurb {
        display: inline-block;
        font-weight: 500;
        blockquote {
          line-height: 2;
          margin: 3em 2em 2em 0em;
        }
      }
    }
  } /* ends div image-blurbs-scoot */


  section#about-me {
    max-width: 75%;
    margin: 0 auto;
    text-align: left;
    line-height: 45px;
  }
  a.resume {
    margin-right: auto;
  }



}
/* ends @media for large screens */
